body {
    background-color: white;
    color: black;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.conteiner {
    max-width: 750px;
    margin: auto;
}

a {
    color: black;
text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color:red;
}

a:visited {
    color: blue;
}

.doom {
    background: yellow;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 15px;
    margin-top: 15px;
}   


.bg-yellow {
    background: rgb(207, 207, 73);
}


.bg-green {
    background: rgb(108, 178, 108);
}


.bg-red {
    background: rgb(87, 155, 210);
}

.list {
     color: gray;
}

.contact label {
    display:  block;
    font-size: 14px;
    color: gray;
}
.contact input,
.contact textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: black;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

.row {
    display: flex;
    margin-bottom: 20px;
}

.row > .contact {
    width: 50%;
}

.row > .contact:first-last{
    margin-right: 0px;
}